.root {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cdc8c8;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 30px;
}
.input {
  width: 50%;
  padding: 10px;
  font-size: 18px;
  border: none;
  background: transparent;
  outline: none;
  color: #777;
}
.searchbtn {
  font-weight: 500;
  background-color: rgb(219, 55, 58);
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
}
